/* add css module styles here (optional) */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

.primary {
  padding: 0.5em;
  border: 2px solid #ccc;
  background-color: #fec483;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.secondary {
  padding: 0.5em;
  border: 2px solid #ccc;
  background-color: #000;
  color: white;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.outline {
  padding: 0.5em;
  border: 2px solid #ccc;
  background-color: #fff;
  color: #000;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.dark {
  padding: 0.5em;
  border: 2px solid #ccc;
  background-color: #3f3d56;
  color: #fff;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.light {
  padding: 0.5em;
  border: 2px solid #ccc;
  background-color: #d0cde1;
  color: #000;
  font-size: 1.4em;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
